Project Week1

Question1:

Write a program to find the data types of the following variables(you can use a function if you comfortable with it):

In [2]:
print(type(x))
print(type(y))
print(type(S))
print(type(Values))
print(type(fruits))
print(type(Names))
print(type(X))

NameError: name 'x' is not defined

Question2:
    
Write a program to prompt a user to enter a mark scored by a student and the program should return the Grade scored
(Use if, elif and else statements,Grades are A,B,C,D,E)

In [ ]:
x=input('What is your grade\n')
x=int(x)
if x<=20:
    print('E')
if x>21 and x<40 :
    print('D')
if x>=41 and x<=60:
    print('C')
elif x>=61 and x<=80:
    print('B')
else:print('A')

C

Question3:
    
Write a program to print all values of the following variables (again you can use a function):

In [ ]:
Word='Programming'
Names=['Juma','Joy','Erick','Dennis','James']
marks=[35,98,64,26,84,68,90,74]

In [ ]:
def Word():
    print('programming')
def Names:()
    print('Juma','Joy','Erick','Dennis','James')
print(Names)

SyntaxError: invalid syntax (3177618289.py, line 3)

Question4: 
    
Write a program to create a list named vegetables prices with values 45,86,89,24,62,96,24,64,66,94. Then print those prices which are above 50

Question5:
    
Create a dictionary named Item_Dict, with keys; fruits, number_fruits, prices, and values as ['pineapples','oranges','apples'],
[34,67,54], [76,98,96]

Question6:
    
write a function that will pass a list and print all elements of a list(create any list to confirm if your function works.)

Question7:
    
Write a program to remove the empty spaces from start and end of the following variables: (you can use a function)

In [ ]:
String="  Hello "
Fruit=" Apples  "
value=' 686844875  '

Question8:
    
    
Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.

Question9:
    
Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
Note: Use 'continue' statement.

Question10:
Check if the first and last number of a list is the same
numbers_list = [10, 20, 30, 40, 10,90,80,11,28,10]

Question11:
Find the lenght of the following variables and output only with lenght is more or equal to 5

In [ ]:
x=10
y=57.86
S="Welcome"
Values=['23','74','95']
fruits=('Tomatoes','Oranges','Pineapples')
Names={'Juma':74,'Joy':65,'Rebbecca':56}

Question12:

Use split function, to find the number of sentences in the following passage

In [ ]:
passage='''Today, Python is very high in demand and all the major companies are looking for great Python Programmers to develop websites, software components, and applications or to work with Data Science, AI, and ML technologies. When we are developing this tutorial in 2022, there is a high shortage of Python Programmers where as market demands more number of Python Programmers due to it's application in Machine Learning, Artificial Intelligence etc.

Today a Python Programmer with 3-5 years of experience is asking for around $150,000 annual package and this is the most demanding programming language in America. Though it can vary depending on the location of the Job. It's impossible to list all of the companies using Python, to name a few big companies are:'''